// *****************
// Color Variables
// *****************
$primary-color: #6b69fa;
$secondary-color: #ffd001;
$dark: #333;
$gray: #666;
$gray-dark: #999;
$gray-blue: #b3bbcb;
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$white: #fff;
$website_font: 'Lora', Georgia, Times, 'Times New Roman', serif;
$spacing-unit: 30px !default;
$table-text-align: left !default;
$text-color: #111111 !default;
$grey-color-light:  #524f4f !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

$lightGray: #eee;
