// *****************
// Color Variables
// *****************
$primary-color: #1c1c1d;
$secondary-color: #666665;
$link-color: #6166DC;
$dark: #333;
$gray: rgb(70, 50, 50);
$gray-light: rgb(100, 87, 87);
$gray-dark: rgb(21, 21, 21);
$gray-blue: #7c7b7a;
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$white: #fff;
$black: #000;
// $website_font: 'Lora', Georgia, Times, 'Times New Roman', serif;
$website_font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$spacing-unit: 30px !default;
$table-text-align: left !default;
$text-color: #111111 !default;
$grey-color-light:  #524f4f !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

$lightGray: #eee;
